<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>simulation</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <input value="do grab red block" id="command-input" type="text" size="60">
</body>
<script src="{{url_for('static', filename='command_interface.js')}}"></script>
<script src="{{url_for('static', filename='action_interface.js')}}"></script>
<script src="{{url_for('static', filename='vision_interface.js')}}"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
</html>
